{% extends 'base.html' %}
{% load static %}



{% block meta %}
<meta name="keywords" content="terms,conditions">
<meta name="description" content="Welcome to bloghunger.This is a blogging website. This website mainly talks about current issues and recent incidents all over the world. Though it is a blogging website, it is different from other blogging websites. It holds some special features or characteristics">

{% endblock meta %}

<title>{% block title %}Terms and Conditions-{% endblock title%}</title>




 {% block content %}

 <div class="card">
     <div class="card-body">
         
         <h1 class="text-center">Terms And Conditions</h1>
     </div>
     
 </div>


 <br>
 <br>
 <div class="card">
     <div class="card-body">         
        <h3 style="text-align: justify;">Introduction:</h3>
        <h4>Welcome to Thebloghen.This is a blogging website. This website mainly talks about current issues and recent incidents all over the world. Though it is a blogging website, it is different from other blogging websites. It holds some special features or characteristics.</h4>
     </div>     
 </div>

 <br>
 <br>
 <div class="card">
     <div class="card-body">         
        <h3>Post Policy:</h3>
        <h4 style="text-align: justify;">We are trying to avoid all kinds of copy post. Sometimes the pictures or images might be taken from many sources. But the content of  posts are authentic. The site does not support  any kinds of fake or unauthentic content. If it did, you should tell us through comment.   </h4>
     </div>     
 </div>



 <br>
 <br>
 <div class="card">
     <div class="card-body">         
        <h3>Create Account:</h3>
        <h4 style="text-align: justify;">
        To like and comment a user must need to create an free account to this site. This is so easy that you just need to give a username and email address (optional).If you don't provide an email account then you shouldn't able to recover your forgotten password.
        You can also create an account by login with your google account.In this case We can only see your username of that google account.  
        </h4>
     </div>     
 </div>

 <br>
 <br>
 <div class="card">
     <div class="card-body">         
        <h3>Comment:</h3>
        <h4 style="text-align: justify;">Each post has a comment section.Here any of the user can comment but not anythings.A user can comment any things good or bad their expressions about this post.Any kinds of slang or sexual nonsense  might be deleted by authority.Authority has all rights to delete any kind of comments anytime.</h4>
     </div>     
 </div>
 <br>
 <br>
 <div class="card">
     <div class="card-body">         

        <h4 style="text-align: justify;">
            Copyright©thebloghen.com 
            <a href="https://termly.io/resources/articles/copyright-examples/#what-is-copyright" target="_blank" rel="noopener noreferrer">What is Copyright?</a> 
         </h4>
     </div>     
 </div>
 <br>
 <br>


 {% endblock content %}